MAIN_BROKER_HOST=main-broker
MAIN_BROKER_PORT=1883
LEAD_BROKER_HOST=lead-broker
LEAD_BROKER_PORT=1883
EGO_BROKER_HOST=ego-broker
EGO_BROKER_PORT=1883
UI_HOST_PORT=18080
SCENARIO_NAME=intersection-occlusion
# Optional: use a custom JSON file instead of SCENARIO_NAME.
SCENARIO_FILE=

# World tick (faster updates, faster speed ~4 m/s)
WORLD_TICK_SECONDS=0.1
X_STEP_METERS=1

# Vanetza station IDs
LEAD_STATION_ID=101
EGO_STATION_ID=102
LEAD_LATITUDE=40.628300
LEAD_LONGITUDE=-8.654400
EGO_LATITUDE=40.628250
EGO_LONGITUDE=-8.654700

CAM_IN_TOPIC=vanetza/in/cam
CAM_OUT_TOPIC=vanetza/out/cam
CAM_TIME_TOPIC=vanetza/time/cam
CPM_IN_TOPIC=vanetza/in/cpm
CPM_OUT_TOPIC=vanetza/out/cpm
WORLD_TOPIC_LEAD=world/pos/lead
WORLD_TOPIC_EGO=world/pos/ego
WORLD_TOPIC_OBSTACLE=world/pos/obstacle
WORLD_TOPIC_SCENARIO=world/scenario
WORLD_TOPIC_CONTROL=world/control
WORLD_TOPIC_TX_CAM=world/tx/cam
WORLD_TOPIC_TX_CPM=world/tx/cpm
EGO_CAM_PERIODICITY=0
